
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-xs-12 col-md-6">
        <!-- First product box start here-->
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img src="@Url.Content("~/Content/images/products/p4.png")" class="img-responsive">
                        <span class="tag2 hot">
                            HOT
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a href="#">
                                Product Code/Name here
                            </a>
                            <a href="#">
                                <span>Product Category</span>
                            </a>

                        </h5>
                        <p class="price-container">
                            <span>$199</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p>A Short product description here </p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                <a href="javascript:void(0);" class="btn btn-info">More info</a>
                            </div>
                            <div class="col-md-12">
                                <div class="rating">
                                    Rating:
                                    <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                    <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
    </div>
    <div class="col-xs-12 col-md-6">
        <!-- First product box start here-->
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img src="@Url.Content("~/Content/images/products/p1.png")" alt="194x228" class="img-responsive">
                        <span class="tag2 hot">
                            HOT
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a href="#">
                                Product Code/Name here <span>Product Category</span>
                            </a>
                        </h5>
                        <p class="price-container">
                            <span>$50</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p>A Short product description here </p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                <a href="javascript:void(0);" class="btn btn-info">More info</a>
                            </div>
                            <div class="col-md-12">
                                <div class="rating">
                                    Rating:
                                    <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                    <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
    </div>
    <div class="col-xs-12 col-md-6">
        <!-- First product box start here-->
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img src="@Url.Content("~/Content/images/products/p2.png")" alt="194x228" class="img-responsive">
                        <span class="tag3 special">
                            Special
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a href="#">
                                Product Code/Name here <span>Product Category</span>
                            </a>
                        </h5>
                        <p class="price-container">
                            <span>$299</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p>A Short product description here </p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                <a href="javascript:void(0);" class="btn btn-info">More info</a>
                            </div>
                            <div class="col-md-12">
                                <div class="rating">
                                    Rating:
                                    <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                    <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
    </div>
    <div class="col-xs-12 col-md-6">
        <!-- First product box start here-->
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img src="@Url.Content("~/Content/images/products/p3.png")" alt="194x228" class="img-responsive">
                        <span class="tag2 sale">
                            SALE
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a href="#">
                                Product Code/Name here <span>Product Category</span>
                            </a>
                        </h5>
                        <p class="price-container">
                            <span>$1000</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p>A Short product description here </p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                <a href="javascript:void(0);" class="btn btn-info">More info</a>
                            </div>
                            <div class="col-md-12">
                                <div class="rating">
                                    Rating:
                                    <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                    <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->



    </div>


    <div class="col-xs-12 col-md-6">
        <!-- First product box start here-->
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img src="@Url.Content("~/Content/images/products/p3.png")" alt="194x228" class="img-responsive">
                        <span class="tag2 sale">
                            SALE
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a href="#">
                                Product Code/Name here <span>Product Category</span>
                            </a>
                        </h5>
                        <p class="price-container">
                            <span>$1000</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p>A Short product description here </p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                <a href="javascript:void(0);" class="btn btn-info">More info</a>
                            </div>
                            <div class="col-md-12">
                                <div class="rating">
                                    Rating:
                                    <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                    <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->



    </div>

    <div class="col-xs-12 col-md-6">
        <!-- First product box start here-->
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img src="@Url.Content("~/Content/images/products/p3.png")" alt="194x228" class="img-responsive">
                        <span class="tag2 sale">
                            SALE
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a href="#">
                                Product Code/Name here <span>Product Category</span>
                            </a>
                        </h5>
                        <p class="price-container">
                            <span>$1000</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p>A Short product description here </p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                <a href="javascript:void(0);" class="btn btn-info">More info</a>
                            </div>
                            <div class="col-md-12">
                                <div class="rating">
                                    Rating:
                                    <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                    <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                    <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->



    </div>
</div>

